.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.headerdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 33px;
  margin-bottom: 31px;
}

ul {
  display: flex;
  gap: 50px;
}

li a {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fa-bars {
  color: #636060;
  font-size: 35px;
  display: none;
}

@media (max-width: 750px) {
  nav {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}

.s-1 {
  height: 606px;
  background-image: url(../images/bg.png);
  background-color: lightblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
}

.bg-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}

.bg-div h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bg-div h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.discover1 {
  width: 240px;
  margin-left: 100px;
  margin-right: 83px;
}

h4 {
  margin-bottom: 9px;
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h5 {
  margin-bottom: 37px;
  color: #010101;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.discover-p {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div-1 {
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  height: 780px;
  margin-left: 418px;
  margin-top: -230px;
}

.div-1 > div {
  margin-left: 33px;
}

.kedeli {
  width: 286px;
  height: 340px;
}

.h-1 {
  margin-top: 23px;
  margin-bottom: 9px;
  color: #343232;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-1 {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* აქ დავამთავრე პირველი div */

.qucha {
  width: 289px;
  height: 340px;
}

.h-2 {
  margin-top: 23px;
  margin-bottom: 9px;
  color: #343232;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 280px;
}

.p-2 {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sea {
  width: 289px;
  height: 340px;
}

.h-3 {
  margin-top: 23px;
  margin-bottom: 9px;
  color: #343232;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 280px;
}

.p-3 {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.snow {
  width: 289px;
  height: 340px;
  margin-top: 56px;
}

.h-4 {
  margin-top: 23px;
  margin-bottom: 9px;
  color: #343232;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 280px;
}

.p-4 {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* აქ დავამთავრე მეოთხე div */

.orange {
  width: 289px;
  height: 340px;
  margin-top: 56px;
}

.h-5 {
  margin-top: 23px;
  margin-bottom: 9px;
  color: #343232;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 280px;
}

.p-5 {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cloud {
  width: 289px;
  height: 340px;
  margin-top: 56px;
}

.h-6 {
  margin-top: 23px;
  margin-bottom: 9px;
  color: #343232;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 280px;
}

.p-6 {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
