.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.headerdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 33px;
  margin-bottom: 31px;
}

ul {
  display: flex;
  gap: 50px;
}

li a {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fa-bars {
  color: #636060;
  font-size: 35px;
  display: none;
}

@media (max-width: 750px) {
  nav {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}

.s-1 {
  height: 606px;
  background-image: url(../images/bg.png);
  background-color: lightblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}

.bg-div h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bg-div h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
